## Reading and Joining Datasets

The data is divided into 3 csv files with customerID being the common column among them.

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

df1 = pd.read_csv('dataset/customer_data.csv')
df2 = pd.read_csv('dataset/internet_data.csv')
df3 = pd.read_csv('dataset/churn_data.csv')

df = pd.concat([df1, df2, df3], axis=1)

# delete duplicated columns due to concatenation
df = df.loc[:,~df.columns.duplicated()]
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No phone service,DSL,No,Yes,No,...,No,No,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,No,DSL,Yes,No,Yes,...,No,No,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,No,DSL,Yes,Yes,No,...,No,No,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,No phone service,DSL,Yes,No,Yes,...,No,No,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,No,Fiber optic,No,No,No,...,No,No,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Encoding categorical data
Most of the categorical feature columns are binary class. But some are multi-class. So get_dummies method of pandas is used which creates new columns with specific category of the variable and previous col is dropped

In [55]:
# Encoding categorical values
df_req = df.drop(['customerID','TotalCharges'], axis=1)
df_new = pd.get_dummies(df_req, prefix_sep='_', drop_first=True)
data = pd.concat([df[['customerID','TotalCharges']] ,df_new], axis=1)
data.head()

,customerID,TotalCharges,SeniorCitizen,tenure,MonthlyCharges,gender_Male,Partner_Yes,Dependents_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_No internet service,StreamingMovies_Yes,PhoneService_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,7590-VHVEG,29.85,0,1,29.85,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,5575-GNVDE,1889.5,0,34,56.95,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
2,3668-QPYBK,108.15,0,2,53.85,1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
3,7795-CFOCW,1840.75,0,45,42.30,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,9237-HQITU,151.65,0,2,70.70,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1

## Data Transformation
Empty/null values are handled

In [60]:
data['TotalCharges'].replace(" ", np.nan, inplace=True)
data.dropna(subset=['TotalCharges'], inplace=True)

data['TotalCharges'] = pd.to_numeric(data['TotalCharges'])
data.head()

,customerID,TotalCharges,SeniorCitizen,tenure,MonthlyCharges,gender_Male,Partner_Yes,Dependents_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_No internet service,StreamingMovies_Yes,PhoneService_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,7590-VHVEG,29.85,0,1,29.85,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,5575-GNVDE,1889.50,0,34,56.95,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
2,3668-QPYBK,108.15,0,2,53.85,1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
3,7795-CFOCW,1840.75,0,45,42.30,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,9237-HQITU,151.65,0,2,70.70,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1

## Splitting Data and Model Fitting
Splitting data into training and testing data and fitting it into KNN classifier

In [65]:
X = data.drop(['customerID', 'Churn_Yes'], axis=1)
y = data['Churn_Yes']

X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5273, 30), (1758, 30), (5273,), (1758,))

In [80]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [83]:
print("Accuracy:", knn.score(X_test, y_test)*100, "%")

Accuracy: 77.98634812286689 %

## Confusion Matrix
Confusion Matrix to get count of correct and wrong predictions

In [84]:
y_pred = knn.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
cm

array([[1181,  135],
       [ 252,  190]])

In [86]:
print("True Positives:", cm[0][0])
print("False Negatives:", cm[0][1])
print("False Positives:", cm[1][0])
print("True Negatives:", cm[1][1])
print()
print("Correct Predictions:", cm[0][0]+cm[1][1])
print("Wrong Predictions:", cm[0][1]+cm[1][0])

True Positives: 1181
False Negatives: 135
False Positives: 252
True Negatives: 190

Correct Predictions: 1371
Wrong Predictions: 387